#!/usr/bin/make -f
#export DH_VERBOSE = 1

%:
	dh $@

PACKAGE = $(shell dpkg-parsechangelog --show-field=Source)

override_dh_auto_install:
	dh_auto_install
	./autogen.sh --prefix=$(shell pwd)/debian/$(PACKAGE)/usr
	make install

override_dh_auto_clean:
	dh_auto_clean
	rm -f Makefile.in common/Makefile.in extra/Makefile.in configure aclocal.m4
	rm -rf build-aux

# get-orig-source rule to fetch the sources from the Git snapshot.
# This looks as the "commithash" portion of the Debian package version, in the
# format majorversion~commithash-1.

VERSION = $(shell dpkg-parsechangelog --show-field=Version)
ORIG_VERSION = $(shell echo $(VERSION) | cut -f 1 -d '-')
COMMIT = $(shell echo $(ORIG_VERSION) | cut -f 2 -d '~')
URL = https://github.com/horst3180/arc-theme

get-orig-source:
	# Cloning upstream repository.
	git clone $(URL) "$(PACKAGE)-$(ORIG_VERSION)"
	# Generating archive from commit.
	cd "$(PACKAGE)-$(ORIG_VERSION)" && git archive -v $(COMMIT) -o \
	../$(PACKAGE)_$(ORIG_VERSION).orig.tar.gz
	# Removing temporary Git tree.
	rm -rf "$(PACKAGE)-$(ORIG_VERSION)"
